@model List<ProcedimientosMedicosModel>



@{
    ViewData["Title"] = "ListaDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header">
        Lista Procedimientos Especialidad
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="ProcedimientosMedicos" class="btn btn-success"
           asp-route-id="@ViewBag.Id">
            <i class="bi bi-plus-circle"></i>
            Crear nuevo
            <input  type="hidden" class="form-control" id="exampleInputEmail1" value="@ViewBag.Id">

        </a>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripcion</th>


                    <th></th>

                </tr>


            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.Descripcion</td>


                        <td>


                            <a asp-action="Eliminar" asp-controller="ProcedimientosMedicos" class="btn btn-danger" asp-route-id="@item.id">
                                <i class="bi bi-x-circle-fill"></i> Eliminar
                            </a>

                            <a asp-action="ListaDoctor" asp-controller="EspecialidadDoctor" class="btn btn-info" asp-route-id="@ViewBag.Id">
                                <i class="bi bi-journal-medical"></i> Especialidad
                            </a>

                           

                        </td>
                    </tr>

                }
            </tbody>

        </table>


    </div>
</div>





