@model List<PacienteModel>




@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="card">
    <div class="card-header">
        Lista Clientes
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Paciente" class="btn btn-success">
            <i class="bi bi-plus-circle"></i>
            Crear nuevo
            <input type="hidden" class="form-control" id="exampleInputEmail1" value="@ViewBag.Id">

        </a>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                 
                    <th></th>

                </tr>


            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.DNI</td>
                      



                        <td>


                            <a asp-action="Eliminar" asp-controller="Paciente" class="btn btn-danger" asp-route-id="@item.id">
                                <i class="bi bi-x-circle-fill"></i> Eliminar
                            </a>

                      @*       <a asp-action="ListaDoctor" asp-controller="EspecialidadDoctor" class="btn btn-info" asp-route-id="@ViewBag.Id">
                                <i class="bi bi-journal-medical"></i> Especialidad
                            </a>
 *@


                        </td>
                    </tr>

                }
            </tbody>

        </table>


    </div>
</div>







