@* @model List<ExamenMedicoModel>
 *@
@model VistasPaginacion<UsuarioModel>




@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Lista Usuarios
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Usuario" asp-route-id="@ViewBag.ClasificacionExamen" class="btn btn-success">
            <i class="bi bi-plus-circle"></i>
            Crear nuevo
        </a>
        <br />
        <form asp-action="Lista" asp-controller="ExamenMedico" method="get">
            <p>
                Buscar: <input type="text" name="buscar" class="form-control" id="buscar">
                <input type="submit" value="buscar" class="btn  btn-dark">


            </p>


        </form>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
              
                        <th></th>

                    </tr>


                </thead>
                <tbody>

                    @foreach (var item in Model.ExamenMedico)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.Userid</td>
                            <td>@item.Nombre</td>
                            <td>@item.Correo</td>
                            <td>@item.Roles?.Nombre</td>
                      
                            <td>
                                <a asp-action="Editar" asp-controller="Usuario" class="btn btn-primary" asp-route-idEnfermedad="@item.id">
                                    <i class="bi bi-pencil-square"></i> Editar
                                </a>

                                <a asp-action="Eliminar" asp-controller="Usuario" class="btn btn-danger" asp-route-idEnfermedad="@item.id">
                                    <i class="bi bi-x-circle-fill"></i> Eliminar
                                </a>

                            </td>
                        </tr>

                    }
                </tbody>

            </table>

            @Html.Partial("~/Views/Paginacion/Paginador.cshtml");

        </div>


    </div>
</div>

